.calculatorCont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 22px;
    box-sizing: border-box;
    background-color: white;
    user-select: none;
}


.clc {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.displayScreen {
    height: 100px;
    overflow: hidden;
    padding: 0px 32px;
    box-sizing: border-box;
    border-radius: 63px;
    background-color: #2388ff;
}

.displayScreen input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 42px;
    text-align: right;
    background-color: transparent;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.displayScreen input::placeholder {
    color: whitesmoke;
}

.buttonsCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    padding: 12px;
}

.column {
    gap: 13px;
    display: flex;
    box-sizing: border-box;
    flex: 1;
}

.row {
    border-radius: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    user-select: none;
}

.row:hover {
    opacity: 0.5;
    /* background-color: green; */
}

.bt1 {
    background-color: #f5f6fc;
    color: rgb(110 118 145);
}

.bt2 {
    background-color: #d8ddf0;
    color: rgb(110 118 145);
}

.btBlack {
    background-color: rgb(31 43 84);
    color: white;
}

.btRed {
    background-color: rgb(255 68 90);
    color: white;
}

.btBlue {
    background-color: rgb(35 136 255);
    color: white;
}

.btYellow {
    background-color: rgb(255 200 4);
    color: white;
}

.btGreen {
    background-color: rgb(99 222 119);
    color: white;
}

.disable {
    cursor: not-allowed;
}

@media screen and (max-width: 767px) {
    .calculatorCont {
        width: 100%;
        height: 100dvh;
        box-shadow: none;
        background-color: transparent;
        padding: 22px 0;
    }

    .clc {
        gap: 30px;
    }

    .displayScreen {
        border-radius: 0px;
        padding: 0px 18px;
        height: 75px;
    }

    .row {
        -webkit-tap-highlight-color: transparent;
    }
}